* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/1ce52173426833.5c08f56353039.png);
    width: 100vw;
    height: 100vw;
}

.form {
    padding: 40px;
    width: 400px;
    border-radius: 8px;
    border: 2px solid teal;
    display: flex;
    flex-direction: column;
    background-color: rgba(128,128,128, 0.5);
    height: fit-content;
}

.form input {
    min-width: 300px;
    width: 100%;
    padding: 5px 10px;
    border: teal 1px solid;
    background-color: azure;
}

.form button {
    margin-top: 15px;
    margin-left: auto;
    border: teal 1px solid;
    background: none;
    padding: 10px 15px;
    font-weight: bold;
    color: teal;
    cursor: pointer;
    background-color: azure;
}

.form button:focus, .form input:focus {
    outline: none;
}

.connection_message {
    width: 400px;
    text-align: center;
}

.message {
    width: 400px;
    border: 2px solid teal;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    background-color: azure;
}

